.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  background-color: rgb(70, 134, 2);
  border-bottom: solid 2px #D4CAFF;
}

.subheader {
  color: #FFF;
  padding: 15px 20px;
  text-align: center;
  align-items: center;
  background-color: rgb(77, 6, 7);
  border-bottom: solid 2px #D4CAFF;
}

.item {
  border: solid 1px black;
  width: 200px;
  align-items: center;
}

.item-selected {
  border: solid 1px black;
  width: 200px;
  align-items: center;
  background-color: rgb(70, 134, 2);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
