@import url('https://fonts.googleapis.com/css?family=Cairo|Sriracha&display=swap');

.App {
  text-align: center;
}
body {
  background: -webkit-linear-gradient(left, rgba(241,229,101,1) 0%, rgba(254,179,67,0.99) 100%);

}
header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  background-color: rgb(70, 134, 2);
  border: solid 5px rgb(220, 103, 40);
}

.subheader {
  font-family: 'Sriracha', cursive;
  font-size: 20px;
  color: #FFF;
  margin: 20px 100px;
  padding: 5px 10px;
  text-align: center;
  align-items: center;
  background-color: rgb(77, 6, 7);
}

.item {
  border: solid 1px black;
  width: 200px;
  align-items: center;
}

.item-selected {
  border: solid 1px black;
  width: 200px;
  align-items: center;
  background-color: rgb(70, 134, 2);
}

.menu {
  font-family: 'Cairo', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.extras {
  color: red;
  font-family: fantasy;
}

.current-selections {
  display: flex;
  justify-content: center;
}

.current-selections > div {
  background-color: rgb(226, 178, 119);
}